<% @happyhour.errors.full_messages.each do |message| %>
<p>
  <%= message %>
</p>
<% end %>

<h2>Create new happy hours</h2>
<%= form_for [@bar, @happyhour] do |f|%>
<%= f.label :weekday %>
<%= f.text_field :weekday %>

<%= f.label :hours %>
<%= f.text_field :hours %>

<%= f.submit %>
<% end %>
