<% @bars.each do |bar| %>
<div class="bar">
  <h2><a href="<%= bar_path(bar) %>"><%= bar.name %></a></h2>
  <%= image_tag(bar.img_url) %>
  <h4><%= bar.address %></h4>
</div>
<% end %>
<h5><%= link_to 'Add a new bar', new_bar_path %></h5>
