<h2>New bar</h2>
<%= form_for @bar do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :address %>
<%= f.text_field :address %>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.submit %>
<% end %>
