
<h2><%= @bar.name %></h2>
<%= image_tag(@bar.img_url) %>
<h4><%= @bar.address %></h4>
<%= link_to 'Happy hours', bar_happyhours_path(@bar) %>
<h5><%= link_to 'Edit Bar', edit_bar_path(@bar) %></h5>
<h5><%= link_to 'DELETE Bar', bar_path(@bar), method: :delete %></h5>
