<!DOCTYPE html>
<html>
  <head>
    <title>BarsHappyhour</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><a href="<%= bars_path %>">CrawlDad</a></h1>
    <h2>The Happy hour app</h2>
    <%= yield %>
  </body>
</html>
